telethon == 1.1.1
Pillow == 5.2.0
backoff == 1.6.0
persian == 0.4.0
graypy == 0.3
psycopg2-binary == 2.7.5
sqlalchemy == 1.2.9
jdatetime == 2.1.0
asyncio == 3.4.3
aiohttp == 2.3.10
Unidecode == 1.0.22